
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex*
*.toc
*.lof
*.lot
*.lol
*.nav
*.snm
*.vrb
*.xdv

*.Identifier

# tmp-файлы LaTeX Workshop (VS Code)
*.pdfsync
*.spl
*.synctex.gz(busy)

# arara, glossaries, makeindex, nomencl
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.nlo
*.nls
*.ilg
*.ind
*.idx

# tikz / pgfplots внешняя кэш-компиляция
*.dpth
*.md5
*.tikz
*.pgf
*-figure*.pdf

# *.pdf
# *.png
# *.jpg
# *.eps

.vscode/

# PyCharm / IntelliJ
.idea/

*.txssession
*.pdfsync

.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*.ipynb_checkpoints/

*~
*.swp
*.bak
*.tmp

# main.pdf
